/*-----------------以下为Gennuis主题配置---------------*/

body {
  background-color: #fdf9ee;
  background-image: url("/images/food.png");
  background-attachment:fixed;
  background-position:50% 50%;
}
body.darkmode--activated {
  background-color: #282828
  background-image: url("/images/skulls.png");
  background-attachment:fixed;
  background-position:50% 50%;
}